@{
    ViewData["Title"] = "PTRN_V";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper container-xxl p-1">
        <div class="content-header row">
            <div class="content-header-left col-md-9 col-12 mb-2">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <h2 class="content-header-title float-start">@ViewData["Title"]</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">مدیریت</h4>
                </div>
                <div class="card-body">
                    <p>TODO: پیاده‌سازی PTRN_V</p>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        // TODO: پیاده‌سازی سمت کلاینت
    </script>
}
