@* Reusable Confirm Modal *@
<div class="modal fade" id="confirmModal" tabindex="-1" aria-hidden="true" dir="rtl">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content confirm-modal-content">
            <div class="confirm-modal-icon" id="confirmIcon">
                <i class="bx bx-help-circle"></i>
            </div>
            <h5 class="confirm-modal-title" id="confirmTitle">تایید عملیات</h5>
            <p class="confirm-modal-message" id="confirmMessage">آیا مطمئن هستید؟</p>
            <div class="confirm-modal-actions">
                <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal" id="confirmCancel">خیر</button>
                <button type="button" class="btn btn-primary" id="confirmOk">بله</button>
            </div>
        </div>
    </div>
</div>
